@font-face{
    font-family: myFont;
    src:url(fonts/ProRacingSlant-w1Mo9.otf);
}

@font-face {
    font-family: myFont02;
    src: url(fonts/RacingFonerPersonalUseOnly-Regular.otf);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #252525;
}

main {
    height: 100%;
}

h2 {
    color: red;
}


.headContainer{
    display: flex;
    align-items: center;
    background-color: #151515;
    height: 6rem;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 1px solid;
    border-image: linear-gradient(190deg, yellow, orange, red, orange, yellow) 1;
}

.logoHead {
    position: relative;
    font-family: myFont;
    /*font-size: 5rem;*/
    font-size: clamp(1.8rem, 10vw, 3rem);
    color:white;
    margin-left: min(1.5rem, 2%);
    margin-top: 1rem;

}

.logoHead02 {
    color: red;
}

.headNavbar {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.logoHead span {
    text-transform: uppercase;
    background: linear-gradient(to right, red, orange, yellow, orange, red, orange, yellow);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s infinite;
}

@keyframes animate-gradient {
    100% {
        background-position: 100%;
    }
}

.headContainer ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-left: 5rem;
    font-size: 1.5rem;
    color: red;
    width: 120%;
}

li {
    list-style: none;
    margin-left: 3rem;
}

.headContainer a {
    text-decoration: none;
    color: white;
    font-family: myFont02;
    margin-left: 1rem;

}

.carrosGrid {
    background-color: blue;
    height: 38vh;
    display: flex;
    justify-content: space-around;

}

.carroCard {
    margin-top: 0.3%;
    background-color: red;
    width: 40rem;
    height: 30rem;
}

.slideAuto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerAlign {
    background-color: #101010;
    color: white;
    position: fixed;
    width: 100%;
    height: 2vw;
    bottom: 0;
}

.footerContent {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 0.5%;
}

.carousel {
    width: 100%; 
}

.carousel img{
    height: 100vh;
    object-fit: cover;
    object-position: bottom;
}

.tableCard {
    height: 120%;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}

.card {
    width: 30vw;
    height: 20vw;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.textEffect {
    border-radius: 1rem;
    height: 10%;
    width: 50%;
    background-color: #191919;
    display: flex;
    align-items: center;
}

.card-title {
    display: flex;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    margin-left: 10%;
}

.card-img {
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

/* About Page */

.aboutTitleSection {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTitle {
    color: red;
    font-size: 10rem;
    font-family: myFont;
    -webkit-text-stroke: 1px white;
    justify-content: center;
}

.aboutSubTitle {
    color: orange;
    font-family: myFont02;
    font-size: 1rem;
    margin-top: -1.5%;
}

.contentAbout {

    color: white;
    margin-top: 5rem;
}

hr {
    color: white;
}

.aboutTitleSub {
    color: white;
}

.aboutText {
    font-size: 1rem;
    text-align: justify;
}

.aboutForm {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.aboutForm p {
    color: white;
}

.form-control {
    width: 100%;
}

form {
    color: white;
}

.aboutCheckBox {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutCheck {
    color: white;
    justify-content: center;
}
 